.feynman__text-link {
    font-size: 36px;
    position: absolute;
    align-self: flex-end;
    margin-top: 20%;
    margin-right: 48px;
    text-decoration: none;
    transition: opacity 1s linear;
  }
  .feynman__text-link:hover {
    opacity: 40%;
   }