.footer__columns{
  display:flex;
  min-height: 350px;
  justify-content: space-around;
  margin: auto;
  background-color: black;
  position: relative;
}
.footer__author{
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  bottom: 0;
  position:absolute;
  margin-bottom: 40px;

}
.column__heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  margin-top: 60px;
  
}
.footer__list-text{
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  transition: opacity 1s ease;
}
.columns__copyright{
  flex-basis: 711px;
}
.column__content_social{
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.logo__place_footer{
  margin-top: 60px;
}
.footer__list-text:hover{
opacity: 40%;
}